@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

.hidde{
display:none;
}

td{
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.container-inner {
    width: 300px;
    height: 180px;
    position: relative;
    /* border: 1px solid #ccc; */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.video-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.video-card .el {
    display: block;
    height: 104%;
    margin-right: 32px;
    width: 103%;
    color: white;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.video-card .front {
  /* background: red; */
}
.video-card .back {background: #cedce7;background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);background: linear-gradient(45deg,  #6b6b6b 0%,#596a72 100%);-webkit-transform: rotateY( 180deg );-moz-transform: rotateY( 180deg );-o-transform: rotateY( 180deg );transform: rotateY( 180deg );}
.video-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

a:hover{
 /* box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); */
}

.CardContent{
    display:none;
}

.TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom{

    display:none;

}
td:hover{
 background:gray;
 color: #b3afaf;
}

.video-js-big{
 width: 655px!important;
 height: 766px!important;
 margin-top: -168px!important;
 margin-left: 57px!important;
}
.map-adjust
{margin-top: -177px!important;height: 250px!important;}
td{

    background: #b3b3b3;
    border: 2px solid #383838;
    color: black;
    font-size: 12px;
    padding: 6px;

}

.logo{
     border-right: 2px solid #383838;
}

.container-fluid{
    padding-left: 2px;
}

.back .card .card-header{
padding:0

}

.back .card img{
    width:100px;
}

.vitals{
    top: 10px;
    right: 18px;
    line-height: 81px;
    position: absolute;
    font-size: 25px;

}